{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          {{ with .Content }}
            <div class="content">
              {{ . }}
            </div>
          {{ end }}
          {{ with .RegularPages }}
            <ul class="text-center {{ if $.Content }}mt-12{{ end }}">
              {{ range . }}
                <li class="m-3">
                  <a
                    href="{{ .Permalink }}"
                    class="text-text-dark dark:text-darkmode-text-dark block text-xl">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
