<header class="header gc-header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30">
  <nav class="gc-nav">
    <a class="gc-nav-brand" href="{{ site.Home.RelPermalink }}">
      {{ partial "logo" }}
    </a>

    <input id="nav-toggle" type="checkbox" class="gc-nav-toggle" />
    <label for="nav-toggle" class="gc-nav-burger" aria-label="Open menu" tabindex="0">
      <span class="gc-burger-line"></span>
      <span class="gc-burger-line"></span>
      <span class="gc-burger-line"></span>
    </label>

    <ul class="gc-nav-menu">
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL:= $currentPage.Permalink | absLangURL }}
        {{ $active := eq $menuURL $pageURL }}
        <li class="gc-nav-item">
          <a class="gc-nav-link {{ if $active }}is-active{{ end }}"
            {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
            href="{{ .URL | relLangURL }}"
          >{{ .Name }}</a>
        </li>
      {{ end }}
      {{ if site.Params.navigation_button.enable }}
        <li class="gc-nav-item gc-nav-cta">
          <a class="gc-nav-cta-link"
            href="{{ site.Params.navigation_button.link | relLangURL }}"
            {{ if (hasPrefix site.Params.navigation_button.link `http`) }}target="_blank" rel="noopener"{{ end }}
          >{{ site.Params.navigation_button.label }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
